body {
    overflow: hidden;
    background-color: black;
}
#commands {
    margin-left: 0.5em;
}
#commands ul {
    list-style-type: none;
    padding: 0;
}
#commands li {
    float: left;
}
#commands button {
    width: 5em;
    margin-right: 0.5em;
}
#editor {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 40px;
    bottom: 20px;
    left: 0;
    right: 0;
}
#forFile {
    clear: left;
    color: white;
    display:none;
}
#forFile input[text] {
    color: black;
}
#statusBar {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background-color: #555;
    color: white;
    font-size: 0.8em;
    line-height: 1.9em;
}
#editmode {
    position: absolute;
    right: 0;
    display: none;
    color: black;
}
#editmodestring {
    cursor: pointer;
    margin-right: 0.1em;
}
.right {
    position: absolute;
    right: 0.4em;
}
.underline {
    text-decoration: underline;
}
.ace_status-indicator {
    position: absolute;
    left: 0.4em;
}

#editor.mode-find {
    top: 70px;
}
#editor.mode-replace {
    top: 95px;
}
#findreplace {
    background-color: #555;
    color: white;
    font-size: 10px;
    position: absolute;
    top: 40px;
    width: 100%;
    height: 26px;
}
#findreplace.mode-replace {
    height: 51px;
}
#findreplace .textbox {
    position: absolute;
    top: 3px;
    left: 3px;
    right: 205px;
}
#findreplace .frbuttons {
    position: absolute;
    top: 3px;
    right: 5px;
}
#findreplace .find {
}
#findreplace .replace {
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    display: none;
}
#findreplace input[type="text"] {
    width: 100%;
}
#findreplace input, #findreplace button {
    color: black;
}
#findreplace .frbuttons {
    line-height: 18px;
}
#findreplace .frbuttons button {
    line-height: 1em;
    width: 5em;
}
#findreplace .frbuttons .btnlg {
    width: 2em;
}
#findreplace .frbuttons input[type="checkbox"] {
    margin-left: 2em;
}
#findreplace .frbuttons .btnfs {
    margin-left: 0.5em;
}
